node_modules

mlops
https://learn.ineuron.ai/certificate/f406d4c0-080b-4efb-9c56-5a9900fb3993

foundational generative ai
https://learn.ineuron.ai/certificate/262dc82c-4788-4514-a4ea-f090138a7a4a

amazon web service 
https://learn.ineuron.ai/certificate/480a35ed-5373-4dda-a828-1e6fcee82d72